<div class="banner-small">
  <div>
    <h1><%= @workshop.name %></h1>
    <h2>Atelier</h2>
    <img class="blue-line" src="https://res.cloudinary.com/dxdboxbyb/image/upload/v1606232604/atelier-celine/Landing%20Page/lqztsqrpdeth0ncdjkk6.png" alt="">
    <h3>DIMI & YUKO</h3>
    <p>You will explore the ancient technique of Cyanotype re-interpreted by our creative master Dimi and Yuko.</p>
    <%= link_to "Join Now", workshops_path, class: "button-show"%>
  </div>
  <div class="show-image">
    <div>
      <img src="https://res.cloudinary.com/dxdboxbyb/image/upload/v1606231587/atelier-celine/Landing%20Page/y7rzwi3qxe5ac63lzmcs.jpg" alt="">
    </div>
    <div >
      <img src="https://res.cloudinary.com/dxdboxbyb/image/upload/v1606231587/atelier-celine/Landing%20Page/y7rzwi3qxe5ac63lzmcs.jpg" alt="">
    </div>
  </div>
</div>

<div class="center">
<div>
  <div class="bulletins">
    <a href="">Ateliers <br> Experience</a>
    <a href="">Artists <br> & Technique </a>
    <a href="">Commuinty <br> Info</a>
  </div>
</div>
  <div class="workshop-box">
    <div>
       <img class="imgage-discription" src="https://res.cloudinary.com/dxdboxbyb/image/upload/v1606231590/atelier-celine/Landing%20Page/db6de1q8gpxlvymrmr97.jpg" alt="">
  </div>
    <div class="workshop-content-right">
      <h4>What you will create?</h4>
      <img class="red-line" src="https://res.cloudinary.com/dxdboxbyb/image/upload/v1606232604/atelier-celine/Landing%20Page/cluepznhimc95jwz0ono.png" alt="">
    <p>
      Dimi & Yuko have designed a unique workshop in which the poem of  a famous Japanese poet Buson Yosa comes to life. Throughout the atelier, you will explore the ancient technique of Cyanotype and  travel across the Japanese literature with our creative master Dimi and Yuko.
    </p>
    </div>
  </div>

<div class="workshop-discription">
  <div class="workshop-content-left">
    <h4>Origins of the Cyanotype</h4>
    <img class="red-line" src="https://res.cloudinary.com/dxdboxbyb/image/upload/v1606232604/atelier-celine/Landing%20Page/cluepznhimc95jwz0ono.png" alt="">
    <p>
      Cyanotype is a 170 year old photographic printing process that produces prints in a distinctive dark greenish-blue. The word cyan comes from the Greek, meaning  “dark blue substance.”
      The process was invented by Sir John Herschel, a brilliant astronomer and scientist, in 1842.
      However, Herschel did not use cyanotype for photography, but for reproducing notes. It was a family friend, the botanist Anna Atkins, who used the cyanotype printing process in 1843 to create an album of algae specimens. She created the images by placing objects directly on photosensitive paper. She is regarded as the first female photographer.
    </p>
  </div>
      <img class="imgage-discription" src="https://res.cloudinary.com/dxdboxbyb/image/upload/v1606231590/atelier-celine/Landing%20Page/db6de1q8gpxlvymrmr97.jpg" alt="">

  </div>


  <div class="workshop-discription">
    <img class="imgage-discription" src="https://res.cloudinary.com/dxdboxbyb/image/upload/v1606231590/atelier-celine/Landing%20Page/db6de1q8gpxlvymrmr97.jpg" alt="">
  <div class="workshop-content-right">
    <h4>About the artist</h4>
    <img class="red-line" src="https://res.cloudinary.com/dxdboxbyb/image/upload/v1606232604/atelier-celine/Landing%20Page/cluepznhimc95jwz0ono.png" alt="">
    <p>
      DIMI // GREECE
      Dimitri is a visual artist based in Kreuzberg  (Berlin) working in the fields of photography and printing. During his studies in fine arts department in Kunstuniversität Linz, Austria, his interest in analogue photography and the interaction with painting was arising.
    </p>
    <p>
      YUKO // JAPAN
      After working with publishers and gaming companies for 5 years, Yukos career shifted to beeing a visual artist in Berlin. For her Cyanotype is a great way to transform a digital image into real life. Yuko is excited to share her knowledge about digital negatives and the science behind cyanotype with you.
    </p>
  </div>
  </div>


<div class="workshop-discription">
  <div class="workshop-content-left">
    <h4>Included in the experience</h4>
    <img class="red-line" src="https://res.cloudinary.com/dxdboxbyb/image/upload/v1606232604/atelier-celine/Landing%20Page/cluepznhimc95jwz0ono.png" alt="">
</div>

</div>

<div class="experience-icons">
  <div class="center-icon-experience">
    <i class="fas fa-play"></i>
    <p> PRE- RECORDED <br> VIDEO TUTORIAL <br> WITH DIMI & YUKO </p>
  </div>
  <div class="center-icon-experience">
    <i class="fas fa-plus"></i>
  </div>
  <div class="center-icon-experience">
    <i class="fas fa-box"></i>
    <p> PHYSICAL KIT DELIVERED TO <br> YOUR HOME WITH THE <br> SUPPLIES FOR ONE CRAFT</p>
  </div>
  <div class="center-icon-experience">
    <i class="fas fa-plus"></i>
  </div>
  <div class="center-icon-experience">
    <i class="fas fa-chalkboard-teacher"></i>
    <p> LIVE Q&A <br> SESSION WITH <br> THE ARTIST</p>
  </div>
</div>


<div class="workshop-discription">
  <div class="workshop-content-left">
    <h4>Physical Kit </h4>
    <img class="red-line" src="https://res.cloudinary.com/dxdboxbyb/image/upload/v1606232604/atelier-celine/Landing%20Page/cluepznhimc95jwz0ono.png" alt="">
</div>
</div>
<div>
  <img src="https://res.cloudinary.com/dxdboxbyb/image/upload/v1606303051/atelier-celine/Landing%20Page/r4lthucxkl9pjztl1y2i.png" alt="Art Kit Content">
  <img id="kit-image" src="https://res.cloudinary.com/dxdboxbyb/image/upload/v1606304140/atelier-celine/Landing%20Page/hmeuk5ndwch1k2dtr1sp.png" alt="Art Kit">
</div>
<div class="button-show-bottom">
 <%= link_to "Join Now", workshops_path, class: "button-show"%>
</div>

</div>

