#profile {
  display: flex;
  background-color: white;
  padding: 0px;
  margin: 40px 0;
  border-radius: 5px;
}

#profile-picture {
  padding: 0;
  margin: 0;
  img {
    height: 400px;
    width: 300px;
    border-radius: 5px 0px 0px 5px;
  }
}

#profile-description {
  width: 30rem;
  padding: 30px 40px;
  border-radius: 5px;

  h5 {
    color: #455CC7;
    margin-top: 0px;
    margin-bottom: 10px;
  }
}

#bio {
  padding: 10px 0px;
}


#profile-address {
  line-height: 30px;
  i {
    color: #455CC7;
  }
}


.my-workshops {
  padding-top: 40px;
}

#profile-banner {
  margin: 0;

  h1 {
    color: #455CC7;
  }
}

.center-profile {
  margin: 50px 0;
}
