.subscription-banner {
  background-color: #CCD1E9;
  height: 640px;
  display: flex;
}

.subscription-banner h1 {
  color: #FFFFFF;
  font-size: 30px;
  padding-top: 60px;
  margin-left: 50px;
}

.subscription-banner h3 {
  color: black;
  font-size: 23px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.subscription-card h2 {
  padding-top: 30px;
}

.subscription-title {
margin-right: 20px;
}

.workshop-content-left h4 {
  margin-top: 50px;
}
