// Banner Section
.banner-small {
  background-color: #C5314B;
  height: 640px;
  display: flex;
}

.banner-small h1 {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 30px;
  padding-top: 40px;
  margin-left: 50px;
}


.banner-small h2 {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 30px;
  margin-left: 50px;
  margin-top: 10px;
}


.blue-line {
  margin-left: 50px;
  margin-bottom: 20px;
  margin-top: 25px;
}

.red-line {
  margin-bottom: 20px;
  margin-top: 15px;
}

.banner-small h3 {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 30px;
  margin-left: 50px;

}

.banner-small p {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 23px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 50px;
}


.button-show-blue {
  background-color: #455CC7;
  font-weight: bolder;
  color: white;
  padding: 12px 40px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.4);
  text-shadow: 2px 2px 2px rgba(50, 50, 50, 0.4);
  margin-left: 50px;
  width: 100%;
}
.button-show-blue:hover {
  opacity: 0.8;
  text-decoration: none;
  color:white;
}

.show-image {
  display: flex;
}

.show-image img{
  height: 640px
}


// 1 Section

.center h4 {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 36px;
  color: #455CC7;
}

.bulletins {
  padding-top: 30px;
  display: flex;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.bulletins a {
  font-family: 'Montserrat', sans-serif !important;
  padding-right: 40px;
  color: #455CC7;
  font-size: 25px;
}

.bulletins a:hover {
  text-decoration: none;
  opacity: 0.8;
  color: #C41A49;
}

img.imgage-discription  {
  width: 658px;
  border-radius: 20px;
}

.workshop-discription{
  display: flex;
  margin-bottom: 90px;
}

.center{
  margin-left: 50px;
  margin-right: 50px;
}


.workshop-box {
  display: flex;
  margin-bottom: 90px;
}


.workshop-content-right {
margin-left: 50px;
}

.workshop-content-left {
  margin-right: 50px;
}

.experience-icons {
  display:flex;
  font-size: 60px;
  color: #455CC7;
  margin-top: 20px;
  margin-bottom: 90px;
}

.experience-icons p {
font-size: 22px;
color: black;
}


.center-icon-experience {
  text-align: center;
  margin-right: 50px;
}

.fa-plus {
margin-top: 40px;
color: #C41A49;
}

// 3 Section - Physical Kit

#kit-image {
height: 330px;
margin-left: 70px;
}

.button-show-bottom {
margin-top: 70px;
margin-bottom: 80px;
text-align: center;

}

.button-show {
  background-color: #C41A49;
  font-weight: bolder;
  color: white;
  padding: 15px 200px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.4);
  text-shadow: 2px 2px 2px rgba(50, 50, 50, 0.4);
  // margin-left: 50px;
}
.button-show:hover {
  opacity: 0.8;
  text-decoration: none;
  color:white;
}


// 4 Section - Community

.banner-blue {
  background-color: #455CC7;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  overflow:hidden;
  padding-bottom: 40px;
}

.banner-blue h1 {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 30px;
  padding-top: 40px;
  margin-left: 40px;
}

.banner-blue h2 {
  color: #FFFFFF;
  font-size: 30px;
  margin-left: 40px;
  margin-top: 10px;
}

// Reviews

.reviews {
  width: 1350px;
}
.review {
  width: 450px;
}

.reviews p {
  color: black;
  font-size: 25px;
  margin-right: 30px;
}


.headline-box h4 {
margin-top: 60px;
}

.reviews {
  display: flex;
  margin-bottom: 50px;
}

.review .review-username {
 color: #455CC7;
}

.fa-star {
color:#DAB300;
  margin-top: 15px;
  margin-bottom: 12px;
}

