#instructions-container {
  display: flex;
}

#timeline-inline {
  display: flex;
}

.margin-left {
  margin-left: 50px;
}



.ball {
  background-color: violet;
  border-radius: 50%;
  padding: 40px;
  height: 50px;
  width: 50px;
} 

.ball-done {
  background-color: red;
  border-radius: 50%;
  padding: 40px;
  height: 50px;
  width: 50px;
}


//banner

.instructions-banner {
  background-color: #C5314B;
  height: 480px;
  display: flex;
}

.instructions-banner h1 {
  color: #FFFFFF;
  font-size: 30px;
  padding-top: 40px;
  margin-left: 50px;
}


.instructions-banner h2 {
  color: #FFFFFF;
  font-size: 30px;
  margin-left: 50px;
  margin-top: 10px;
}

.instructions-banner h3 {
  color: #FFFFFF;
  font-size: 30px;
  margin-left: 50px;

}

.instructions-banner p {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 23px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.instructions-image {
  display: flex;
}

.instructions-image img{
  height: 480px
}

.instructions-box {
 display: flex;
 flex-direction: column;
 background-color: white !important;
}


// Start section
.duration-level-bar {
background-color:  #C41A49;
color: white;
box-shadow: 0 0 15px rgba(0,0,0,0.2);
padding-top: 20px;
border-radius: 5px;
display: flex;
flex-direction: column;
font-size: 20px;
width: 70%;
margin-top: 110px;
text-align: center;
}


.duration-level-bar i{
margin-right: 10px;
margin-bottom: 20px;
}

.duration-level-bar p{
}

.flex-it {
display: flex;
}


//progress bar

.center-progress-bar {
display:flex;
justify-content: center;
}

.progress-bar-title {
margin-top: 50px;
color: #455CC7;
text-align: center;
}

.progress {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 50%;
}


.progress-bar {
  background-color: #C41A49;
  width: 0;
}

.progress-bar_1 {
  background-color: #C41A49;
  width: 16.67%;
}

.progress-bar_2 {
  background-color: #C41A49;
  width: 33.34%;
}

.progress-bar_3 {
  background-color: #C41A49;
  width: 50.01%;
}

.progress-bar_4 {
  background-color: #C41A49;
  width: 66.68%;
}

.progress-bar_5 {
  background-color: #C41A49;
  width: 83.35%;
}
.progress-bar_6 {
  background-color: #C41A49;
  width: 100%;
}

.progress-bar-legend {
  display: flex;
  justify-content: space-between;
  color: #455CC7;
  text-align: center;
  width: 50%;
}

.center-legend-bar {
display:flex;
justify-content: center;
margin-bottom: 50px;
}

//left instruction side

.instruction-single-box {
height: 322 px;
padding-bottom: 165px;
}

.instructions-description {
  margin-top: 50px;
}

.progress-button {
  margin-top: 50px;
}

//right instruction side

.instruction-video {
margin-bottom: 50px;
margin-top: 50px;
}


// Social section

.button-social{
  box-sizing: border-box;
  border-radius: 5px;
  padding: 2px 120px;
  color: white;
  font-weight: bolder;
  background: #C41A49;
  margin-top: 50px;
  width: 50% ;
  text-align: center;
  margin-left: 360px;
}
.button-social:hover {
  text-decoration: none;
  color: #C41A49;
  background: white;
}



