#instructions-container {
  display: flex;
}

#timeline-inline {
  display: flex;
}

.ball {
  background-color: violet;
  border-radius: 50%;
  padding: 40px;
  height: 50px;
  width: 50px;
}

.ball-done {
  background-color: red;
  border-radius: 50%;
  padding: 40px;
  height: 50px;
  width: 50px;
}


//banner

.instructions-banner {
  background-color: #C5314B;
  height: 480px;
  display: flex;
}

.instructions-banner h1 {
  color: #FFFFFF;
  font-size: 30px;
  padding-top: 40px;
  margin-left: 50px;
}


.instructions-banner h2 {
  color: #FFFFFF;
  font-size: 30px;
  margin-left: 50px;
  margin-top: 10px;
}

.instructions-banner h3 {
  color: #FFFFFF;
  font-size: 30px;
  margin-left: 50px;

}

.instructions-banner p {
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 23px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.instructions-image {
  display: flex;
}

.instructions-image img{
  height: 480px
}

.instructions-box {
 display: flex;
 flex-direction: column;
 background-color: white !important;
}




//progress bar

.center-progress-bar {
display:flex;
justify-content: center;
}

.progress-bar-title {
margin-top: 50px;
color: #455CC7;
text-align: center;
}

.progress {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 50%;
}


.progress-bar {
  background-color: #C41A49;
  width: 50%;
}

.progress-bar-legend {
  display: flex;
  justify-content: space-between;
  color: #455CC7;
  text-align: center;
  width: 50%;
}

.center-legend-bar {
display:flex;
justify-content: center;
margin-bottom: 50px;
}

//left instruction side

.instruction-single-box {
height: 322 px;
padding-bottom: 165px;
}

.instructions-description {
  margin-top: 50px;
}

.progress-button {
  margin-top: 50px;
}

//right instruction side

.instruction-video {
margin-bottom: 50px;
margin-top: 50px;
}




