
<div class="footer">

  <div>
    <img src="https://res.cloudinary.com/dxdboxbyb/image/upload/v1606162936/atelier-celine/Landing%20Page/pwlvhly2kicxvqtkspql.png
    " alt="wave" class="footer-image-left">
  </div>

  <div class="infos">
    <a href=""><strong>About us</strong></a>
    <ul>
      <li><a href="">Press</a></li>
      <li><a href="">Terms of conditions</a></li>
      <li><a href="">CVG</a></li>
    </ul>
  </div>

    <div class="infos">
      <a href=""><strong>For artists</strong></a>
      <ul>
        <li><a href="">How it works</a></li>
        <li><a href="">Send ateliers</a></li>
    </ul>
  </div>

    <div class="infos">
    <a href=""><strong>Contact us</strong></a>
    <ul>
      <li><a href="">Help center</a></li>
      <li><a href="">FAQ</a></li>
    </ul>
  </div>


  <div class="footer-links">
    <div class="infos">
      <p>Follow us</p>
    </div>
    <a href="https://instagram.com/ateliersceline?igshid=7dhdlyw8mrzd"><i class="fab fa-instagram" target="_blank"></i></a>
    <a href="https://www.facebook.com/WeAreCeline" target="_blank"><i class="fab fa-facebook"></i></a>
  </div>
    <img src="https://res.cloudinary.com/dxdboxbyb/image/upload/v1606162190/atelier-celine/Landing%20Page/m1jduehavakcwk3wpmm1.png
" alt="wave" class="footer-image-right">
  </div>



