
<div class="footer">

  <div>
    <img src="https://res.cloudinary.com/dxdboxbyb/image/upload/v1606162936/atelier-celine/Landing%20Page/pwlvhly2kicxvqtkspql.png
    " alt="wave" class="footer-image-left">
  </div>

  <div class="infos">
    <strong>About us</strong>
    <ul>
      <li><%= link_to "Terms & Conditions", terms_and_conditions_path  %> </li>
    </ul>
  </div>


    <div class="infos">
    <strong>Contact us</strong>
    <ul>
      <li><%= link_to "Faqs", faqs_path %></li>
    </ul>
  </div>


  <div class="footer-links">
    <div class="infos">
      <p><strong>Follow us</strong></p>
    </div>
    <a href="https://instagram.com/ateliersceline?igshid=7dhdlyw8mrzd"><i class="fab fa-instagram" target="_blank"></i></a>
    <a href="https://www.facebook.com/WeAreCeline" target="_blank"><i class="fab fa-facebook"></i></a>
  </div>
    <img src="https://res.cloudinary.com/dxdboxbyb/image/upload/v1606162190/atelier-celine/Landing%20Page/m1jduehavakcwk3wpmm1.png
" alt="wave" class="footer-image-right">
  </div>



