
<div class="container">
  <h1>Frequently Asked Questions</h1>
  <br>
  <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        1. How Does It Work?</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">Hi! Welcome. We’ve built this membership community to be a slow crafting reminder of how important it is to feed our creative spirits. This project is also meant as a sustainable solution to support artists, small family businesses and our quality manufacturers by providing them with advanced lead times through a monthly subscription model.We offer Memberships (either monthly, 3-month, or 6-month subscriptions) and our Marketplace (with past workshops, add-on kits, extra materials, and our premium workshops). By joining our subscription, you’re opting into a monthly, curated craft project and to learn a new artistic style, to fully build out your crafting toolbox, and to explore your own personal creative boundaries!As a monthly member, you can always pause, reactivate, skip, swap, or cancel your subscription within your account. Please note that your payment information will be charged at the time of signing up and then again on the 15th of the month after that. Please note: 3-month or 6-month subscriptions are offered at a discounted rate because you will not have the option to skip.We've built our projects with an 18+ audience in mind - kits can contain sharp tools and dangerous materials. See our terms & conditions for more information.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        2. How Do I access My Video Workshop?</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">Looking for a beautiful instructional video to teach you a new craft? Who could blame you! Just follow these steps:Log in to your Account > Navigate to Workshop Gallery > Scroll to Video > Craft! Membership: If you are a member and receive the monthly Featured Makers kits, the tutorial video would appear in the Workshop Galley of your Account Dashboard on the 1st of the month. Your videos can always be located here and will never expire! You get to experience the thoughtfully crafted process as long as you would like. Pro-tip: you might have to scroll to locate your video! If you do not see the video in your Workshop Gallery, please be sure to reach out to us at hello@ateliersceline.com - we are happy to help! Our wonderful customer service team is available 7 days a week to help you with any account questions. Marketplace: When purchasing a full kit or video-access from The Crafter's Box Marketplace, the tutorial should appear in your account right away. Please refresh the page if you still do not see it or reach out to our Customer Experience Team.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        3. Shipping Information and Timelines</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">Marketplace Purchase: Our hardworking team works hard to make sure orders are assembled and shipped as soon as possible! It can vary based on the items in your order, the time of day you placed your order, and our current stock levels. Our team aims to assemble, package, and ship your order within 3 business days of it being placed. Shipping and arrival may be affected by inventory, observed holidays or carrier peak periods. Please note: Our Premium Workshops and larger items often include many items, therefore have an extended timeline for shipping. Please reach out to us for an exact timeline, our team will be happy to provide you with a quote based on your exact order. Once your package is shipped, you’ll be emailed with tracking details  and your order should arrive in 3-7 business days. Subscription Orders: We kit and ship all subscription boxes at the same time each month. We aim for all subscription boxes to ship the first full week of the month.</div>
    </div>
  </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
        4. I Am Missing An Item</a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">Oh no! We will ship you out whatever items may have accidentally not made it in to your box asap. Just send us an email to hello@ateliersceline.com. We are so sorry for the inconvenience and we would love to make it right right away.
    </div>
    </div>
  </div>
</div>
</div>

