
<div class="video-box">
<video playsinline autoplay muted loop  id="bgvid">
  <source src="https://res.cloudinary.com/dxdboxbyb/video/upload/v1606230606/atelier-celine/Landing%20Page/InVideo___JOB_ID__2412485pprenderfs_1605276200142_jjrdtp.mp4" type="video/mp4">
</video>
  <div class="gradient"></div>
    <div class="overlay banner">
          <h1>Inspired by Traditions,<br>Crafted by you </h1>
          <%= link_to "Discover new Art", workshops_path, class: "button-pink"%>
    </div>
</div>

<div class="center">
    <div class="workshop-discription">
  <div class="workshop-content-left">
    <h5> Kits & Digital <br> Workshops For The <br> Creative Hobbys </h5>
    <img class="red-line" src="https://res.cloudinary.com/dxdboxbyb/image/upload/v1606232604/atelier-celine/Landing%20Page/cluepznhimc95jwz0ono.png" alt="">
    <p class="landing-page-text">
      Ateliers Céline is a monthly Do It Yourself experience for people who love to make, build, shape, design, and create! Each box includes supplies for one craft creation as well as access to online instructions by the featured artist of the month
    </p>
  </div>
<img id="landing-image-kit" src="https://res.cloudinary.com/dxdboxbyb/image/upload/v1606231624/atelier-celine/Landing%20Page/lwsvy6fnq7cmh4nrf3n2.png" alt="Art Kit">
  </div>
</div>

<div class="main-gallery js-flickity" data-flickity-options='{ "cellAlign": "center", "contain": true }'>
  <div class="gallery-cell banner"><img src="  https://res.cloudinary.com/dxdboxbyb/image/upload/v1606416247/atelier-celine/Landing%20Page/wh455k9iw0vx3k2sek3g.png"></div>
  <div class="gallery-cell banner"><img src="https://res.cloudinary.com/dxdboxbyb/image/upload/v1606412965/atelier-celine/Landing%20Page/pcwi9oafsb94qzpww1ax.png"></div>
  <div class="gallery-cell banner"><img src="https://res.cloudinary.com/dxdboxbyb/image/upload/v1606416130/atelier-celine/Landing%20Page/qywywtddo8plhweqhikz.png"></div>
</div>

<div class="center">
      <div id="finger-print-box">
  <div class="workshop-content-left">
    <h4> How Does It Work? </h4>
    <img class="red-line" src="https://res.cloudinary.com/dxdboxbyb/image/upload/v1606232604/atelier-celine/Landing%20Page/cluepznhimc95jwz0ono.png" alt="">
  </div >
<img id="landing-image-print" src="https://res.cloudinary.com/dxdboxbyb/image/upload/v1606398509/atelier-celine/Landing%20Page/ihbhnddwairdal53ilxb.png" alt="Art Kit">
  </div>
</div>


<div class="center">
  <div class="workshop-discription">
    <div class="workshop-content-left">
      <h4> Sneak Peek Into Our User’s Creations </h4>
      <img class="red-line" src="https://res.cloudinary.com/dxdboxbyb/image/upload/v1606232604/atelier-celine/Landing%20Page/cluepznhimc95jwz0ono.png" alt="">
    </div>
  </div>

  <div class="home-cards">
    <div class="home-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1593806967876-4ad6cd0c5759?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=895&q=80)">
      <p>Lilli</p>

      <i class="fas fa-heart"></i>
    </div>
    <div class="home-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1560719268-60a714bd4c31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80)">
      <p>James</p>
      <i class="fas fa-heart"></i>
    </div>
    <div class="home-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dxdboxbyb/image/upload/v1606231610/atelier-celine/Landing%20Page/b2mtb0z38mkakufor145.jpg)">
      <p>Timothy</p>
      <i class="fas fa-heart"></i>
    </div>
  </div>
</div>

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<!-- https://wallpapercave.com/wp/wp5298647.jpg -->


