
<div class="video-box">
<video playsinline autoplay muted loop  id="bgvid">
  <source src="https://res.cloudinary.com/dxdboxbyb/video/upload/v1606230606/atelier-celine/Landing%20Page/InVideo___JOB_ID__2412485pprenderfs_1605276200142_jjrdtp.mp4" type="video/mp4">
</video>
  <div class="gradient"></div>
    <div class="overlay banner">
          <h1>Inspired by Traditions,<br>Crafted by you </h1>
          <%= link_to "Discover new Art", workshops_path, class: "button-pink"%>
    </div>
</div>

<div class="center">
    <div class="workshop-discription">
  <div class="workshop-content-left">
    <h5> Kits & Digital <br> Workshops For The <br> Creative Hobbys </h5>
    <img class="red-line" src="https://res.cloudinary.com/dxdboxbyb/image/upload/v1606232604/atelier-celine/Landing%20Page/cluepznhimc95jwz0ono.png" alt="">
    <p class="landing-page-text">
      Ateliers Céline is a monthly Do It Yourself experience for people who love to make, build, shape, design, and create! Each box includes supplies for one craft creation as well as access to online instructions by the featured artist of the month
    </p>
  </div>
<img id="landing-image-kit" src="https://res.cloudinary.com/dxdboxbyb/image/upload/v1606231624/atelier-celine/Landing%20Page/lwsvy6fnq7cmh4nrf3n2.png" alt="Art Kit">
  </div>
</div>


<div class="center">
      <div id="finger-print-box">
  <div class="workshop-content-left">
    <h4> How Does It Work? </h4>
    <img class="red-line" src="https://res.cloudinary.com/dxdboxbyb/image/upload/v1606232604/atelier-celine/Landing%20Page/cluepznhimc95jwz0ono.png" alt="">
  </div >
<img id="landing-image-print" src="https://res.cloudinary.com/dxdboxbyb/image/upload/v1606398509/atelier-celine/Landing%20Page/ihbhnddwairdal53ilxb.png" alt="Art Kit">
  </div>
</div>

<div id="carousel-container">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active ">
        <div class="carousel-card">
            <div class="text-left">
              <h1>Become Part of a Community</h1> <br>	
              <p>Our goal is to support hobbyist crafters, artists, and quality manufacturers while building a community focused on handmade and preserving traditional art techniques</p>
            </div>
            <div class="text-right">
              <img src="https://res.cloudinary.com/yileijiang/image/upload/v1606770443/59652_f8ryku.png" alt="share">
              <p>Get inspired and inspire others</p>
            </div>
        </div>
        <div class="filter"> </div>
        <img class="d-block w-100" src="https://res.cloudinary.com/yileijiang/image/upload/v1606747187/7nfurowqbt0f5ceqftudqzwh2f7r.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <div class="filter"> </div>
        <img class="d-block w-100" src="https://res.cloudinary.com/yileijiang/image/upload/v1606747183/0hkj7ucjht6ef059p8ud6pqtyun8.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <div class="filter"> </div>
        <img class="d-block w-100" src="https://res.cloudinary.com/yileijiang/image/upload/v1606746758/xpxl4qrwkweci60iv9fwi82zxiwc.jpg" alt="Third slide">
      </div>
       <div class="carousel-item">
        <div class="filter"> </div>
        <img class="d-block w-100" src="https://images.unsplash.com/photo-1493770348161-369560ae357d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80" alt="Fourth slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>



<div class="center">
  <div class="workshop-discription">
    <div class="workshop-content-left">
      <h4> Sneak Peek Into Our User’s Creations </h4>
      <img class="red-line" src="https://res.cloudinary.com/dxdboxbyb/image/upload/v1606232604/atelier-celine/Landing%20Page/cluepznhimc95jwz0ono.png" alt="">
    </div>
  </div>

  <div class="home-cards">
    <div class="home-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1593806967876-4ad6cd0c5759?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=895&q=80)">
      <p>Lilli</p>

      <i class="fas fa-heart"></i>
    </div>
    <div class="home-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1560719268-60a714bd4c31?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80)">
      <p>James</p>
      <i class="fas fa-heart"></i>
    </div>
    <div class="home-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dxdboxbyb/image/upload/v1606231610/atelier-celine/Landing%20Page/b2mtb0z38mkakufor145.jpg)">
      <p>Timothy</p>
      <i class="fas fa-heart"></i>
    </div>
  </div>
</div>

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<!-- https://wallpapercave.com/wp/wp5298647.jpg -->


