
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://wallpapercave.com/wp/wp5298647.jpg)">
  <div class="banner-title">
    <h1>Inspired by Traditions,<br>Crafted by you </h1>
    <a class="button" href=""></a>
  </div>
</div>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://res.cloudinary.com/dxdboxbyb/image/upload/v1606157749/atelier-celine/Landing%20Page/wfvlkyskek0mnbcmre21.jpg)">
</div>

<%# Test Buttons, Please remove. %>
<%= link_to "Join Now", workshops_path, class: "button-pink" %>
<%= link_to "Join Now", workshops_path, class: "button-yellow" %>
<%= link_to "Sign Up", workshops_path, class: "button-minimal" %>
<%= link_to "Discover", workshops_path, class: "button-minimal-thicker"%>
