<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<%# Test Buttons, Please remove. %>
<%= link_to "Join Now", workshops_path, class: "button-pink" %>
<%= link_to "Join Now", workshops_path, class: "button-yellow" %>
<%= link_to "Sign Up", workshops_path, class: "button-minimal" %>
<%= link_to "Discover", workshops_path, class: "button-minimal-thicker"%>