<div class="subscription-banner">

  <div>
    <h1>Choose your Plan</h1>
    <img class="blue-line" src="https://res.cloudinary.com/dxdboxbyb/image/upload/v1606232604/atelier-celine/Landing%20Page/lqztsqrpdeth0ncdjkk6.png" alt="">
    <h3>Select from our <br> two possible plans</h3>
  </div>

      <div class="subscription-cards">

        <div class="subscription-card">
          <h2>One Month</h2>
          <p class="price">90$</p>
          <ul>
            <li><i class="fas fa-check"></i> A digital workshop </li>
            <li><i class="fas fa-check"></i> A shipped kit of handmade tools & materials</li>
            <li><i class="fas fa-check"></i> A monthly Q&A with maker </li>
          </ul>
          <a href="#" class="subscription-btn">Select</a>
        </div>

        <div class="subscription-card">
          <h2>Three Month </h2>
          <p class="price">185$</p>
          <ul>
            <li><i class="fas fa-check"></i> Three digital workshops </li>
            <li><i class="fas fa-check"></i> Three shipped kits of handmade tools & materials</li>
            <li><i class="fas fa-check"></i> A monthly Q&A with maker </li>
          </ul>
          <a href="#" class="subscription-btn">Select</a>
        </div>

      </div>



</div>

