<div class="subscription-banner">

  <div class="subscription-title">
    <h1>Choose your Plan</h1>
    <img class="blue-line" src="https://res.cloudinary.com/dxdboxbyb/image/upload/v1606232604/atelier-celine/Landing%20Page/lqztsqrpdeth0ncdjkk6.png" alt="">
    <h3>Select from our <br> two possible plans</h3>
  </div>
      <img src="https://res.cloudinary.com/dxdboxbyb/image/upload/v1606331324/atelier-celine/Landing%20Page/bviz0syo2xx7bfbdw4r7.png" alt="wave symbol">
      <div class="subscription-cards">

        <div class="subscription-card">
          <h2>One Month</h2>
          <p class="price">90$</p>
          <ul>
            <li><i class="fas fa-check"></i> A digital workshop </li>
            <li><i class="fas fa-check"></i> A shipped kit of handmade tools & materials</li>
            <li><i class="fas fa-check"></i> A monthly Q&A with maker </li>
          </ul>
          <a href="#" class="subscription-btn" id="1_month">Select</a>
        </div>

        <div class="subscription-card">
          <h2>Three Month </h2>
          <p class="price">185$</p>
          <ul>
            <li><i class="fas fa-check"></i> Three digital workshops </li>
            <li><i class="fas fa-check"></i> Three shipped kits of handmade tools & materials</li>
            <li><i class="fas fa-check"></i> A monthly Q&A with maker </li>
          </ul>
          <a href="#" class="subscription-btn" id="3_months">Select</a>
        </div>

      </div>
</div>

<div class="center">
    <div class="workshop-discription">
    <div class="workshop-content-left">
      <h4>Select your Atelier</h4>
      <img class="red-line" src="https://res.cloudinary.com/dxdboxbyb/image/upload/v1606232604/atelier-celine/Landing%20Page/cluepznhimc95jwz0ono.png" alt="">
    </div>
  </div>
</div>



<div class="selector-cards" >
<%= simple_form_for(@subscription) do |f| %>
      <%= f.association :workshops,
                  # as: :check_boxes,legend_tag: false,
                  as: :radio_buttons,legend_tag: false,
                  input_html: { class: "tag-selector workshop" },
                  item_wrapper_class: 'tag-item' %>
  <%= f.button :submit, class: "button-blue" %>
<% end %>
</div>

 <div class="button-show-bottom">
    <%= link_to "Join Now", workshops_path, class: "button-show"%>
  </div>



