.container {
  margin: 50px;
  padding: 0;
}

.container-profile {
  margin: 0px 50px;
  padding: 40px 0px;
  position: relative;
  a {
    position: absolute;
    top: 30.5rem;
    left: 72rem;
  }
}

