.footer {
  background: #DAB300 !important;
  display: flex;
  justify-content: space-between;
  height: 180px;
  color: rgba(0,0,0,0.3);
}

.page-container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.infos a{
  color:white;
  padding: 0 0;
}

.infos a:hover{
  opacity: 0.5;
  text-decoration: none;
}

.footer-links a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 40px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 0.5;
}

.footer-image-right {
  height: 180px;
}

.footer-image-left {
  height: 180px;
}

.infos {
  margin-top: 30px;
  padding: 0 10px;
  color: white;
}

.footer ul {
  padding: 0 5px;
  list-style-type: none;
  color: white;
}
