.footer {
  background: #DAB300 !important;
  display: flex;
  // align-items: center;
  justify-content: space-between;
  height: 180px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  // display: flex;
  // align-items: center;
}
.footer-links a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 40px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 0.5;
}

.footer-image {
  height: 180px;
}

.infos {
  margin-top: 30px;
  padding: 0 10px;
  color: white;
}

.footer ul {
  padding: 0 5px;
  list-style-type: none;
  color: white;
}

.footer p {
  color: white;
}
