.navbar-lewagon {
  background: white;
}

.navbar-space {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
  height: 56px;
  object-fit: cover;
}

.nav-own {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.nav-img {
  height: auto;
  width: auto;
}

.navbar-brand {
  padding-right: 0;
  margin-right: 0;
}

.nav-link {
  color: black !important;
}

.word-logo {
  height: 35px;
}

.pad {
  justify-content: space-between;
  // padding-right: 140px !important;
}

.nav-link:hover {
  color: #c41a49 !important;
}

.button-nav {
  border: 1px solid #c41a49;
  border-radius: 20px;
  text-align: center !important;
  padding: 0 5px;
}

.test1 {
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  margin-right: 80px;
}
