//addded

.selector-cards {
  margin-left: 50px;
  //   display: flex;
  // justify-content: space-between;
  // flex-wrap: wrap;
}

.button-blue {
  background-color: #455CC7;
  font-weight: bolder;
  color: white;
  padding: 10px 40px;
  border-radius: 5px;
}

//copied
.tag-item {
  margin-bottom: 30px;
  margin-left: 30px;
  display: inline-block;
  padding: 0;
  // flex: 0 0 30%;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  box-sizing: border-box;
  padding: 35px 20px;
  height: 370px;
  width: 250px;
  border-radius: 10px;
  background-color: white;
  font-size: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  cursor: pointer;
  display: block;
  // border-radius: 50rem;
  // padding: 0.1rem 0.5rem;
  // background-color: #ECEAFF;
  // color: #7E73FF;
  // border: 1px solid #7E73FF;
  // margin-right: 0.6rem;
  // margin-bottom: 0.4rem;
}

.tag-selector:checked + label {
  background-color: #C41A49;;
  color: white;
}










