<h1>Reviews#create</h1>
<p>Find me in app/views/reviews/create.html.erb</p>

<%= link_to "Join Now", workshops_path, class: "button-yellow" %>
<%= link_to "Sign Up", workshops_path, class: "button-minimal" %>
<%= link_to "Discover", workshops_path, class: "button-minimal-thicker"%>
